# Front-end build files
front_end/debug
front_end/Makefile
front_end/Makefile.*
front_end/object_script*
front_end/.qmake.stash
front_end/front_end.pro.user


# Thrid-party libraries
back_end/third_party/googletest
back_end/third_party/rapidjson

# CMake files
back_end/cmake-build-debug/

# IDEA settings
back_end/.idea/.name
back_end/.idea/dictionaries
back_end/.idea/workspace.xml


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
